$breadcrumbs : 'g-breadcrumbs'

.#{$breadcrumbs}
	list-style-type : none
	padding : 0
	margin : 0
	&_item
		display : inline-block
		&__link
			&:after
				content : '→'
				display : inline-block
				margin :
					left : .5rem
					right : .5rem