//Create by Arseny / i-am.studio
//reset

*
	margin : 0
	padding : 0
	box-sizing : border-box

body
	width : 100%

//grid system
////container
.g-container
	box-sizing: border-box
	display : block
	width : 100%
	padding : 0 1rem
	margin : 
		left : auto
		right : auto
	position : relative
	&__wide
		max-width : 100%!important
	@include media_query_up(md)
		max-width : 1000px
	@include media_query_up(lg)
		max-width : 1200px
%row
	box-sizing: inherit
	display : flex
	flex :
		wrap : wrap
	margin :
		left : -1rem
		right : -1rem
	
.g-row
	@extend %row
	flex :
		direction : row
	&__no-offset
		*[class*='g-cols__']
			padding :
				left : 0rem!important
				right : 0rem!important
.g-column
	@extend %row
	flex :
		direction : column
	&__no-offset
		*[class*='g-cols__']
			padding :
				left : 0rem!important
				right : 0rem!important
////container

////greed
@include touch_grid($grid_cols, $media_quaries_up)
////greed
//grid system