$text : 'g-text'
$list : 'g-list'

/* 1. Touch text */
/* 2. Color text */
/* 3. Align text */

/* 1. Touch text */
body,html
	font :
		family : $font-main
		size : $font_base_size
	line-height : $text_line_height

// Create headings
@each $heading, $size in $font_heading_sizes
	#{$heading},.#{$heading}
		display: block
		font :
			size : $size
			family : $font_heading
		margin:
			top: 0
			bottom: .5em
		font-weight : 400
// Create main text
p
	font :
		size : $font_main_size
		family : $font_main
	margin : 0 0 1rem 0
span,a,strong,i,b
	font :
		size : inherit
		family : inherit
a
	text-decoration : none
	color : $color-blue

.#{$text}
	/* 2. Color text */
	@each $state, $color in $colors
		&__#{$state}
			color : $color
	/* 3. Align text */
	@each $align in $text_align_list
		&__#{$align}
			text-align : $align
	@each $size, $tmp in $media_quaries_up
		@include media_query_up($size)
			@each $align in $text_align_list
				&__#{$size}-#{$align}
					text-align : $align
img
	line-height: 1

.#{$list}
	&__unstyled
		list-style-type : none
		li
			a,span
				text-decoration : none
				display : inline-block
				color : $font-main-color
				padding : $buttons-inset-y/2 0
				&:hover
					text-decoration : underline