//Colors
@c-cta : #124381;
@c-cta_sub : #fab51b;

//adds
@c-gray_light : #eaeaea;
@c-gray : #a4a4a4;
@c-gray_dark : #727272;
//other
@c-red : #bc1817;

//notifications
@c_alert : @c-red;
@c_warning : #fab51b;
@c_ok : #3baa35;