.#{$class-article}
    display: block!important
    @each $heading, $size in $heading-sizes
        $line-height: map-get($heading-lineheight, $heading )
        $font-weight: map-get($heading-weight, $heading)
        $offset-top: map-get($heading-offset-top, $heading)
        $offset-bottom: map-get($heading-offset-bottom, $heading)
        h#{$heading}
            margin:
                top: $offset-top
                bottom: $offset-bottom
            hyphens: auto
            font:
                family: $font-heading
                size: $size
                weight: $font-weight
            line-height: $line-height
            &:first-child
                margin-top: 0
            &:last-child
                margin-bottom: 0
    p
        hyphens: auto
        font:
            size: $paragraph-size
            family: $font-main
        line-height: $paragraph-line-height
        margin:
            top: $paragraph-offset-top
            bottom: $paragraph-offset-bottom
        &:first-child
            margin-top: 0
        &:last-child
            margin-bottom: 0
        *
            vertical-align: baseline
    ol, ul
        margin:
            top: $list-offset-top
            bottom: $list-offset-bottom
        padding:
            left: $list-inset-left
        // Elements
        li
            line-height: $list-item-lineheight

    span,strong,i,b
        font:
            size: inherit
            family: inherit
        line-height: inherit
