.kbd
    display: inline-block
    padding: $base-grid $base-grid*2
    font-size: .9em
    line-height: 1
    background-color: $color-black
    color: $color-white
    border-radius: $base-grid / 3
