.#{$class-list}
    margin:
        top: $list-offset-top
        bottom: $list-offset-bottom
    padding:
        left: $list-inset-left
    // Elements
    .#{$class-list}__item
        line-height: $list-item-lineheight
        & + .#{$class-list}__item
            margin:
                top: $list-items-gap
    // States
    &--unstyled
        list-style-type: none
        padding:
            left: 0
