.paragraph
	hyphens: auto
	font:
		size: $font-base-size
		family: $font_main
	line-height: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size)  * 1rem)
	margin:
		top: 0
		bottom: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 1rem)

	*
		vertical-align: baseline

	// Lead
	&.paragraph__lead
		font-size: $font-base-size * 1.2
		line-height: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size)  * 1rem)