div(style="position:fixed;top:50%;left:0;transform:translateY(-50%);z-index:100;"): ul
	li: a(href="grid.html") Сетка
	li: a(href="text.html") Текст
	li: a(href="utulites.html") Утилиты
	li: a(href="design.html") Дизигн