extends ../layouts/index.pug
block title
	| Тесты дизайна

block content
	.container.margin__bottom-2
		.row
			.cols__xs.padding__yy-3.block__background-ok.text__white
				h1 Текст на фоне
				p Рыбный текст
				a(href="#") Ссылочгэ
			.cols__xs.padding__yy-3.block__background-light
				h1 Текст на фоне
				p Рыбный текст
				a(href="#") Ссылочгэ
	.container.margin__bottom-2
		.row
			.cols__xs.padding__yy-3.block__border-ok
				h1 Текст в border
				p Рыбный текст
				a(href="#") Ссылочгэ
			.cols__xs.padding__yy-3.block__border-light
				h1 Текст в border
				p Рыбный текст
				a(href="#") Ссылочг

	.container.margin__bottom-2
		h1 Крошки
		ul.breadcrumbs.margin__bottom-3
			li.breadcrumbs_item.breadcrumbs_item__link: a(href="back") Ссылка назад
			li.breadcrumbs_item.breadcrumbs_item__link: span Или тут конец
			li.breadcrumbs_item Тут конец
		ul.breadcrumbs.margin__bottom-3.text__center
			li.breadcrumbs_item.breadcrumbs_item__link: a(href="back") Ссылка назад
			li.breadcrumbs_item.breadcrumbs_item__link: span Или тут конец
			li.breadcrumbs_item Тут конец

	.container.margin__bottom-2
		h1 Кнопки
		button.button.button__primary Button
		input.button.button__primary(type="button" value="input:button")
		a.button.button__primary(href="#sdf") С ссылкой
		a.button.button__primary Без ссылки
		span.button.button__primary.button__disabled Disabled

	.container.margin__bottom-2
		h1 Формы
		.row
			form.form.cols__md.block__background-light.padding__yy-2.margin__bottom-2
				.field
					input.field_input(type="text")
					span.field_helper Помощь утопающего
				.field
					label.field_label(for="inp1") Обычное поле
					input.field_input#inp1(type="text")
					span.field_helper Помощь утопающего
				.field.field__row
					label.field_label(for="inp2") Линейное поле
					input.field_input#inp2(type="text")
					span.field_helper Помощь утопающего
			form.form.cols__md.padding__yy-2.margin__bottom-2
				.field
					input.field_input(type="text")
					span.field_helper Помощь утопающего
				.field.field__inline
					input.field_input#rabiobutton(type="radio" name="impgroup1")
					label.field_label(for="rabiobutton") Radion inline
				.form_fieldset.form_fieldset__row
					.field.field__inline
						input.field_input(type="radio" name="impgroup2")
					.field.field__inline
						input.field_input(type="radio" name="impgroup2")
				.form_fieldset.form_fieldset__column
					.field.field__inline
						input.field_input(type="radio" name="impgroup3")
					.field.field__inline
						input.field_input(type="radio" name="impgroup3")
				.form_fieldset.form_fieldset__row
					.field.field__inline
						input.field_input(type="checkbox" name="impgroup4")
					.field.field__inline
						input.field_input(type="checkbox" name="impgroup4")
				.field.field__inline
					input.field_input#checkbox(type="checkbox" name="impgroup1")
					label.field_label(for="checkbox") Checkbox inline
		.row
			form.form.cols__md.block__background-light.padding__yy-2.margin__bottom-2
				fieldset.form_fieldset
					legend Контактные данные
					.field
						label.field_label(for="inp1") Обычное поле
						input.field_input#inp3(type="text")
						span.field_helper Помощь утопающего
					.field
						label.field_label(for="txt") Обычное поле
						textarea.field_input#txt
						span.field_helper Помощь утопающего
					.field.field__row
						label.field_label(for="inp2") Линейное поле
						input.field_input#inp4(type="text")
						span.field_helper Помощь утопающего
					.field
						label.field_label(for="file") Линейное поле
						input.field_input#file(type="file")
						span.field_helper Помощь утопающего
					.text__right
						input.button.button__primary(type="submit" value="Отправить")
			form.form.cols__md.padding__yy-2.margin__bottom-2
				fieldset.form_fieldset
					legend Контактные данные
					.field
						label.field_label(for="form11") ФИО
						input.field_input#form11(type="text")
					.field
						label.field_label(for="form12") email
						input.field_input#form12(type="text")
					.field
						label.field_label(for="form12") email
						input.field_input#form12(type="text")
				fieldset.form_fieldset
					legend Контактные данные
					.field
						label.field_label(for="form11") ФИО
						input.field_input#form11(type="text")
		.row
			form.form.cols__md.block__background-light.padding__yy-2.margin__bottom-2
				fieldset.form_fieldset
					legend Контактные данные
					.field
						label.field_label(for="select") Select
						select.field_input#select(type="text")
							option Привет мир
							option Привет Фармир
							option Привет Тандыр
						span.field_helper Помощь утопающего
					.field
						label.field_label(for="select") Select
						select.field_input#select(type="text" multiple)
							option Привет мир
							option Привет Фармир
							option Привет Тандыр
						span.field_helper Помощь утопающего
			form.form.form__dark.cols__md.block__background-alert.padding__yy-2.margin__bottom-2.text__white
				fieldset.form_fieldset
					legend Контактные данные
					.field
						label.field_label(for="select") Select
						select.field_input#select(type="text")
							option Привет мир
							option Привет Фармир
							option(disabled) Привет Тандыр
						span.field_helper Помощь утопающего
					
					.field
						label.field_label(for="select") Select
						select.field_input#select(type="text" multiple)
							option Привет мир
							optgroup(label="Group")
								option Привет Фармир
								option Привет Тандыр
							optgroup(label="Grouppy" disabled)
								option Привет Фармир
								option Привет Тандыр
						span.field_helper Помощь утопающего
				button.button.button__white Привет форма
	.container.margin__bottom-2
		h1 Уведомления
		.row
			.notification.notification__alert.cols__md-6.margin__bottom-1
				.h1 Привет мир
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			.notification.notification__ok.cols__md-6.margin__bottom-1
				.h1 Привет мир
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			.notification.notification__warning.cols__md-6.margin__bottom-1
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			.notification.notification__ok.cols__md-6.margin__bottom-1
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			.notification.notification__warning.cols__md-6.padding__yy-0.margin__bottom-1
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			.notification.notification__ok.cols__md-6.padding__yy-0.margin__bottom-1
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
	.container.margin__bottom-2
		h1 Пагинация
		ul.pagination
			li.pagination_item: a(href="1") 1
			li.pagination_item.pagination__active: a(href="2") 2
			li.pagination_item: a(href="next") next