extends ../layouts/index.pug
block title
	| Тесты утилит

block content
	.g-container.g-padding__yy-3.g-block__background-light.g-margin__bottom-2
		h1 Тесты утилит
	.g-container.g-margin__bottom-2
		h2 Ordering
		.g-row
			.g-cols__xs.g-order__2.g-padding__yy-3: span #1 (order-2)
			.g-cols__xs.g-order__1.g-padding__yy-3.g-block__background-light: span #2 (order-1)
			.g-cols__xs.g-order__0.g-padding__yy-3: span #3 (order-0)
	hr
	.g-container.g-margin__bottom-2
		h2 Offsets
		.g-row
			.g-cols__xs-4.g-offset__xs-4.g-padding__yy-3: span ← offset=4
			.g-cols__xs-4.g-padding__yy-3.g-block__background-light: span None offset
			.g-cols__xs-4.g-padding__yy-3: span None offset
	hr
	.g-container.g-margin__bottom-2
		h2 Align items
		.g-row.g-align-items__center
			.g-cols__xs-4.g-padding__yy-3: span ← offset=4
			.g-cols__xs-4.g-padding__yy-3.g-block__background-light: span None offset
			.g-cols__xs-4.g-padding__yy-3
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
				p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
	hr
	.g-container.g-margin__bottom-2
		h2 Justify-content + выравнивание в конец
		.g-row.g-justify-content__end.g-align-items__end
			.g-cols__xs-4.g-padding__yy-3.g-block__background-light: span None offset
			.g-cols__xs-4.g-padding__yy-3
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
				p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis