extends ../layouts/index.pug
block title
	| Тесты утилит

block content
	.container.padding__yy-3.block__background-light.margin__bottom-2
		h1 Тесты утилит
	.container.margin__bottom-2
		h2 Ordering
		.row
			.cols__xs.order__2.padding__yy-3: span #1 (order-2)
			.cols__xs.order__1.padding__yy-3.block__background-light: span #2 (order-1)
			.cols__xs.order__0.padding__yy-3: span #3 (order-0)
	hr
	.container.margin__bottom-2
		h2 Offsets
		.row
			.cols__xs-4.offset__xs-4.padding__yy-3: span ← offset=4
			.cols__xs-4.padding__yy-3.block__background-light: span None offset
			.cols__xs-4.padding__yy-3: span None offset
	hr
	.container.margin__bottom-2
		h2 Align items
		.row.align-items__center
			.cols__xs-4.padding__yy-3: span ← offset=4
			.cols__xs-4.padding__yy-3.block__background-light: span None offset
			.cols__xs-4.padding__yy-3
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
				p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
	hr
	.container.margin__bottom-2
		h2 Justify-content + выравнивание в конец
		.row.justify-content__end.align-items__end
			.cols__xs-4.padding__yy-3.block__background-light: span None offset
			.cols__xs-4.padding__yy-3
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
				p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis