@each $state, $color in $colors
    .background__#{$state}
        background:
            color: $color

    .border__#{$state}
        border: .1rem solid $color
        .border_height-compensation
            margin:
                top: - $border-width
                bottom: - $border-width
    
    .color__#{$state}
        color: $color