*,
*::before,
*::after
	box-sizing : border-box

body
	margin: 0
	line-height: 1
	color: $body-text-color
	background: $body-background-color

// Media

img, picture
	line-height: 0
	vertical-align: middle
	border-style: none