////////////
// Global //
////////////

// Create main text
.paragraph
	hyphens: auto
	font:
		size: $font-base-size
		family: $font_main
	line-height: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size)  * 1rem)
	margin:
		top: 0
		bottom: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 1rem)

	*
		vertical-align: baseline

	// Lead
	&.paragraph__lead
		font-size: $font-base-size * 1.2
		line-height: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size)  * 1rem)

// Text format
.kbd
	display: inline-block
	padding: .3em .4em
	font-size: .9em
	line-height: 1
	background-color: $color-black
	color: $color-white
	border-radius: .2rem

// Create headings class
.heading
	margin:
		top: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$font_heading_margin_top} * 1rem)
		bottom: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$font_heading_margin_bottom} * 1rem)
	display: block
	font:
		family: $font_heading
	font-weight: 400
	hyphens: auto

	@each $heading, $size in $font_heading_sizes
		$i_rev: length($font_heading_sizes) - index(($font_heading_sizes), ($heading $size)) + 1
		$line-height: map-get($font-heading-lineheight, $i_rev )
		$font-weight: map-get($font-heading-weight, $i_rev )
		&.heading__#{$heading}
			font:
				size: $size
				weight: $font-weight
			line-height: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$line-height} * 1rem)

.#{$class-text}
	// Color text
	@each $state, $color in $colors
		&__#{$state}
			color: $color
	// Align text
	@each $align in $text_align_list
		&__#{$align}
			text-align: $align
	@each $size, $tmp in $media_quaries_up
		@include media_query_up($size)
			@each $align in $text_align_list
				&__#{$size}-#{$align}
					text-align: $align

// Global lists
.#{$class-list}
	margin:
		top: 0
		bottom: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 1rem)
	&_item
		line-height: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size)  * 1rem)
	&__unstyled
		list-style-type: none
		padding: 0
		margin: 0

// Text decoration
.#{$class-blockquote}
	margin: 
		top: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 1.5rem)
		bottom: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 1.5rem)
		left: 0
	padding:
		left: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 1rem)
		top: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 1rem - 1em)
		bottom: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 1rem - 1em)
	border:
		top: .1em solid $color-gray
		bottom: .1em solid $color-gray
	font-style: italic
	line-height: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size)  * 1rem)

.link
	@extend %link

.hr
	margin: 
		top: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 1.5rem)
		bottom: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 1.5rem)