//* 1. Margins and paddings
//* 2. Flex ordering
//* 3. Flex aligning

//* 1. Margins and paddings
$offset_side: margin, padding
@each $item in $offset_side
	.#{$item}
		@each $direction in $directions
			@each $offset, $offset_value in $direction_offset
				@if $item == padding and $offset == auto
				@else
					&__#{$direction}-#{$offset}
						#{$item}:
							@if $direction == yy
								top: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$offset_value} *  1rem) !important
								bottom: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$offset_value} *  1rem) !important
							@else if $direction == xx
								right: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$offset_value} *  1rem) !important
								left: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$offset_value} *  1rem) !important
							@else
								#{$direction}: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$offset_value} *  1rem) !important
		@each $size, $tmp in $media_quaries_up
			@include media_query_up($size)
				@each $direction in $directions
					@each $offset, $offset_value in $direction_offset
						@if $item == padding and $offset == auto
						@else
							&__#{$size}-#{$direction}-#{$offset}
								#{$item}:
									@if $direction == yy
										top: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$offset_value} *  1rem) !important
										bottom: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$offset_value} *  1rem) !important
									@else if $direction == xx
										right: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$offset_value} *  1rem) !important
										left: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$offset_value} *  1rem) !important
									@else
										#{$direction}: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * #{$offset_value} *  1rem) !important

//* 2. Flex ordering
.#{$class-order}
	@for $i from 0 through $grid-cols
		&__#{$i}
			order: $i
		@each $size, $tmp in $media_quaries_up
			@include media_query_up($size)
				&__#{$size}-#{$i}
					order: $i
		&__first
			order: 0
		&__last
			order: $grid-cols
		@each $size, $tmp in $media_quaries_up
			@include media_query_up($size)
				&__#{$size}-first
					order: 0
				&__#{$size}-last
					order: $grid-cols

//* 3. Flex aligning
.#{$class-align}
	&-items
		@each $align, $align_value in $flex-align_items-list
			@if $align_value != baseline
				&__#{$align}
					align-items: $align_value
		@each $size, $tmp in $media_quaries_up
			@include media_query_up($size)
				@each $align, $align_value in $flex-align_items-list
					@if $align_value != baseline
						&__#{$size}-#{$align}
							align-items: $align_value
//* 3. Flex aligning
.#{$class-justify-content}
	@each $align, $align_value in $flex-align_items-list
		&__#{$align}
			justify-content: $align_value
	@each $size, $tmp in $media_quaries_up
		@include media_query_up($size)
			@each $align, $align_value in $flex-align_items-list
				&__#{$size}-#{$align}
					justify-content: $align_value