.b-card__img {
  position: relative;
}
.b-card__compare {
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 30px;
  height: 30px;
  display: block;
}
.b-card__favorite {
  position: absolute;
  left: 45px;
  bottom: 15px;
  width: 30px;
  height: 30px;
  display: block;
}
.b-card__descr {
  overflow: hidden;
  padding: 0 15px 15px 15px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.b-card__name {
  height: 42px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.b-card__text {
  display: block;
  height: 51px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.b-card .g-button-main {
  width: 100%;
}
.b-card .g-button-main_double {
  width: 100%;
}
