// Input fields //
@mixin vertical_field
    display: flex
    flex:
        direction: column
    .#{$class-field}__input
        min-height: $base-grid * 2
    .#{$class-field}__label
        margin:
            bottom: $base-grid
    .#{$class-field}__helper
        margin:
            top: $base-grid

.#{$class-field}
    min-height: $base-grid * 2
    &:not(.#{$class-field}--row):not(.#{$class-field}--horisontal):not(.#{$class-field}--inline)
        @include vertical_field

    // Elements
    // Stand alone label
    .#{$class-field}__label
        font-size: $font-base-size * 0.9
        line-height: $base-grid

    // Stand alone input
    .#{$class-field}__input
        font-weight: inherit
        color: $color-black
        background-color: lighten($color-gray--light, 5%)
        line-height: 1
        padding:
            top: $fields-inset-y
            bottom: $fields-inset-y
            left: $fields-inset-x
            right: $fields-inset-x
        border: 0
        font-size: $font-base-size * .9
        // States
        &--disabled
            cursor: not-allowed
            opacity: .5
        // Rule for select
        @at-root
            select.#{$class-field}__input
                height: auto
                option
                    display: flex
                    height: $base-grid * 2
                    align-items: center
                optgroup
                    font-size: 80%
                    option
                        font-size: initial
                        line-height: $base-grid * 2
                        &:before
                            content: '— '
        // Field types
        &[type="file"]
            display: inline-flex
            align-items: center
            background-color: white
            font-size: .8em
            height: $base-grid * 2
            padding:
                top: $base-grid * 2
                bottom: $base-grid * 2
            &::-webkit-file-upload-button
                vertical-align: middle
                height: 100%

    // Stand alone helper
    .#{$class-field}__helper
        font-size: $font-base-size * 0.8
        line-height: $base-grid * 2

    // States
    &--inline
        display: inline-block
        line-height: $base-grid * 2
        .#{$class-field}__input
            display: inline
            margin:
                top: 0
                left: 0
            vertical-align: baseline
        &::before
            display: inline-block
            content: '\00A0'
            width: 0
        .#{$class-field}__label
            display: inline
            margin: 0
            vertical-align: baseline
    // Alignment state
    &--row, &--horisontal
        display: flex
        @include media_query_down(xs)
            @include vertical_field
        @include media_query_up(sm)
            flex:
                direction: row
            align-items: center
            line-height: $base-grid * 2
            .#{$class-field}__label
                margin:
                    left: 0
                    right: $base-grid * 2
            .#{$class-field}__input
                flex-grow: 10
            .#{$class-field}__helper
                margin: 0
                    left: $base-grid * 2
    // Error state
    &--error
        .#{$class-field}__label
            font-weight: bold
            color: $color-red
        &:not(.#{$class-field}--row):not(.#{$class-field}--horisontal):not(.#{$class-field}--inline)
            .#{$class-field}__input
                border:
                    left: 6px solid $color-red
                    top: 0
                    bottom: 0
