//Create by Arseny / i-am.studio
//reset
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body
{
    width:100%;
}
//reset
//values
////sizes
@mini : 500px;
@middle : 900px;
@medium : 1024px;
@large : 1220px;
////sizes
////other
@columns : 12;
////other
//values

//grid system
////container
.g-container
{
    width:100%;
    padding:0 15px;
    margin:auto;
    clear:both;
    position:relative;
    &:before
    {
        content:'';
        clear:both;
        display:block;
    }
    &:after
    {
        content:'';
        clear:both;
        display:block;
    }
    &_wide
    {
        max-width:100%!important;
    }
    @media screen and(min-width:@medium)
    {
        max-width:1000px;
    }
    @media screen and(min-width:@large)
    {
        max-width:1200px;
    }
}
.g-clearfix
{
    display:block;
    width:100%;
    clear:both;
    overflow:hidden;
}
.g-row
{
    content:'';
    display:table;
    margin-left:-15px;
    margin-right:-15px;
    width:100%;
    &:before
    {
        content:'';
        clear:both;
        display:block;
    }
    &:after
    {
        content:'';
        clear:both;
        display:block;
    }
}
////container
////greed
.g-cols_mini--1,.g-cols_mini--2,.g-cols_mini--3,.g-cols_mini--4,.g-cols_mini--5,.g-cols_mini--6,.g-cols_mini--7,.g-cols_mini--8,.g-cols_mini--9,.g-cols_mini--10,.g-cols_mini--11,.g-cols_mini-12,.g-cols_middle--1,.g-cols_middle--2,.g-cols_middle--3,.g-cols_middle--4,.g-cols_middle--5,.g-cols_middle--6,.g-cols_middle--7,.g-cols_middle--8,.g-cols_middle--9,.g-cols_middle--10,.g-cols_middle--11,.g-cols_middle--12,.g-cols_medium--1,.g-cols_medium--2,.g-cols_medium--3,.g-cols_medium--4,.g-cols_medium--5,.g-cols_medium--6,.g-cols_medium-7,.g-cols_medium--8,.g-cols_medium--9,.g-cols_medium--10,.g-cols_medium--11,.g-cols_medium--12,.g-cols_large--1,.g-cols_large--2,.g-cols_large--3,.g-cols_large--4,.g-cols_large--5,.g-cols_large--6,.g-cols_large--7,.g-cols_large--8,.g-cols_large--9,.g-cols_large--10,.g-cols_large--11,.g-cols_large--12
{
    padding:0 15px;
    position:relative;
    float:left;
    width:100%;
    min-height:1px;
}
@media screen and(min-width:0px)
{
    .g-cols_mini
    {
        //widths
        &--1
        {
            width:100%/12;
        }
        &--2
        {
            width:(100%/12)*2;
        }
        &--3
        {
            width:(100%/12)*3;
        }
        &--4
        {
            width:(100%/12)*4;
        }
        &--5
        {
            width:(100%/12)*5;
        }
        &--6
        {
            width:(100%/12)*6;
        }
        &--7
        {
            width:(100%/12)*7;
        }
        &--8
        {
            width:(100%/12)*8;
        }
        &--9
        {
            width:(100%/12)*9;
        }
        &--10
        {
            width:(100%/12)*10;
        }
        &--11
        {
            width:(100%/12)*11;
        }
        &--12
        {
            width:100%;
        }
        //widths
        //offsets
        &--offset1
        {
            margin-left:100%-(100%/12*11);
        }
        &--offset2
        {
            margin-left:100%-(100%/12*10);
        }
        &--offset3
        {
            margin-left:100%-(100%/12*9);
        }
        &--offset4
        {
            margin-left:100%-(100%/12*8);
        }
        &--offset5
        {
            margin-left:100%-(100%/12*7);
        }
        &--offset6
        {
            margin-left:100%-(100%/12*6);
        }
        &--offset7
        {
            margin-left:100%-(100%/12*5);
        }
        &--offset8
        {
            margin-left:100%-(100%/12*4);
        }
        &--offset9
        {
            margin-left:100%-(100%/12*3);
        }
        &--offset10
        {
            margin-left:100%-(100%/12*2);
        }
        &--offset11
        {
            margin-left:100%-(100%/12*1);
        }
        //offsets
    }
}
@media screen and(min-width:@mini)
{
    .g-cols_middle
    {
        //widths
        &--1
        {
            width:100%/12;
        }
        &--2
        {
            width:(100%/12)*2;
        }
        &--3
        {
            width:(100%/12)*3;
        }
        &--4
        {
            width:(100%/12)*4;
        }
        &--5
        {
            width:(100%/12)*5;
        }
        &--6
        {
            width:(100%/12)*6;
        }
        &--7
        {
            width:(100%/12)*7;
        }
        &--8
        {
            width:(100%/12)*8;
        }
        &--9
        {
            width:(100%/12)*9;
        }
        &--10
        {
            width:(100%/12)*10;
        }
        &--11
        {
            width:(100%/12)*11;
        }
        &--12
        {
            width:100%;
        }
        //widths
        //offsets
        &--offset1
        {
            margin-left:100%-(100%/12*11);
        }
        &--offset2
        {
            margin-left:100%-(100%/12*10);
        }
        &--offset3
        {
            margin-left:100%-(100%/12*9);
        }
        &--offset4
        {
            margin-left:100%-(100%/12*8);
        }
        &--offset5
        {
            margin-left:100%-(100%/12*7);
        }
        &--offset6
        {
            margin-left:100%-(100%/12*6);
        }
        &--offset7
        {
            margin-left:100%-(100%/12*5);
        }
        &--offset8
        {
            margin-left:100%-(100%/12*4);
        }
        &--offset9
        {
            margin-left:100%-(100%/12*3);
        }
        &--offset10
        {
            margin-left:100%-(100%/12*2);
        }
        &--offset11
        {
            margin-left:100%-(100%/12*1);
        }
        //offsets
    }
}
@media screen and(min-width:@middle)
{
    .g-cols_medium
    {
        //widths
        &--1
        {
            width:100%/12;
        }
        &--2
        {
            width:(100%/12)*2;
        }
        &--3
        {
            width:(100%/12)*3;
        }
        &--4
        {
            width:(100%/12)*4;
        }
        &--5
        {
            width:(100%/12)*5;
        }
        &--6
        {
            width:(100%/12)*6;
        }
        &--7
        {
            width:(100%/12)*7;
        }
        &--8
        {
            width:(100%/12)*8;
        }
        &--9
        {
            width:(100%/12)*9;
        }
        &--10
        {
            width:(100%/12)*10;
        }
        &--11
        {
            width:(100%/12)*11;
        }
        &--12
        {
            width:100%;
        }
        //widths
        //offsets
        &--offset1
        {
            margin-left:100%-(100%/12*11);
        }
        &--offset2
        {
            margin-left:100%-(100%/12*10);
        }
        &--offset3
        {
            margin-left:100%-(100%/12*9);
        }
        &--offset4
        {
            margin-left:100%-(100%/12*8);
        }
        &--offset5
        {
            margin-left:100%-(100%/12*7);
        }
        &--offset6
        {
            margin-left:100%-(100%/12*6);
        }
        &--offset7
        {
            margin-left:100%-(100%/12*5);
        }
        &--offset8
        {
            margin-left:100%-(100%/12*4);
        }
        &--offset9
        {
            margin-left:100%-(100%/12*3);
        }
        &--offset10
        {
            margin-left:100%-(100%/12*2);
        }
        &--offset11
        {
            margin-left:100%-(100%/12*1);
        }
        //offsets
    }
}
@media screen and(min-width:@medium)
{
    .g-cols_large
    {
        //widths
        &--1
        {
            width:100%/12;
        }
        &--2
        {
            width:(100%/12)*2;
        }
        &--3
        {
            width:(100%/12)*3;
        }
        &--4
        {
            width:(100%/12)*4;
        }
        &--5
        {
            width:(100%/12)*5;
        }
        &--6
        {
            width:(100%/12)*6;
        }
        &--7
        {
            width:(100%/12)*7;
        }
        &--8
        {
            width:(100%/12)*8;
        }
        &--9
        {
            width:(100%/12)*9;
        }
        &--10
        {
            width:(100%/12)*10;
        }
        &--11
        {
            width:(100%/12)*11;
        }
        &--12
        {
            width:100%;
        }
        //widths
        //offsets
        &--offset1
        {
            margin-left:100%-(100%/12*11);
        }
        &--offset2
        {
            margin-left:100%-(100%/12*10);
        }
        &--offset3
        {
            margin-left:100%-(100%/12*9);
        }
        &--offset4
        {
            margin-left:100%-(100%/12*8);
        }
        &--offset5
        {
            margin-left:100%-(100%/12*7);
        }
        &--offset6
        {
            margin-left:100%-(100%/12*6);
        }
        &--offset7
        {
            margin-left:100%-(100%/12*5);
        }
        &--offset8
        {
            margin-left:100%-(100%/12*4);
        }
        &--offset9
        {
            margin-left:100%-(100%/12*3);
        }
        &--offset10
        {
            margin-left:100%-(100%/12*2);
        }
        &--offset11
        {
            margin-left:100%-(100%/12*1);
        }
        //offsets
    }
}
////greed
//grid system

